<?xml version="1.0" encoding="UTF-8"?>
<meta xmlns="http://exist-db.org/xquery/repo" commit-id="@commit-id@" commit-time="@commit-time@">
    <description>XQuery library for accessing Amazon Web Services</description>
    <author>Joe Wicentowski</author>
    <website>https://history.state.gov</website>
    <status/>
    <license/>
    <copyright/>
    <type>library</type>
</meta>
